@import '../../../../../styles/variables';

$image-wrapper: 60px;
$options-wrapper: 35px;

.container {
  min-height: 80px;
  padding: 10px;
  position: relative;
  width: 100%;

  .header {
    display: grid;
    grid-template-areas:
      'photo credentials options'
      'photo date options';
    grid-template-columns: $image-wrapper calc(100% - #{$image-wrapper} - #{$options-wrapper}) $options-wrapper;
    grid-template-rows: 50% 50%;
  }

  .photo__wrapper {
    grid-area: photo;
  }

  .name__wrapper {
    grid-area: credentials;
  }

  .date {
    font-size: 1.2rem;
    grid-area: date;
  }

  .name__wrapper,
  .date {
    align-items: center;
    display: flex;
    padding: 0 10px;
  }

  .options__wrapper {
    align-items: center;
    display: flex;
    grid-area: options;
    height: 100%;
    justify-content: center;
    width: $options-wrapper;
  }

  .options__img {
    height: 15px;
    width: 30px;
  }

  .photo__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .image {
    border: 1px solid $gray;
    border-radius: 50%;
    height: 52px;
    width: 52px;
  }

  .content {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
    width: calc(100% - #{$image-wrapper});
  }

  .form-group {
    padding: 10px;
    width: 100%;
  }

  .text-area__wrapper {
    width: 100%;
  }

  .text-area {
    min-height: 50px;
    overflow-y: hidden;
    padding: 10px 5px;
    width: 100%;
  }

  .button__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.dropdown {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  left: calc(100% - #{$options-wrapper} - 75px);
  padding: 5px;
  position: absolute;
  top: 50px;
  width: 80px;
  z-index: 2;

  .option {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
    z-index: 2;
  }
}
