<div class="container">
  <div class="header">
    <div class="header__logo">
      <img class="logo" src="../../../../../assets/img/logo-ur.jpg" alt="Logo" />
    </div>
    <div class="header__text u-text--bold">Teams</div>
  </div>
  <div class="login__wrapper">
    <div class="login__header">Logowanie</div>
    <div class="login__form">

    </div>
    <div class="caption__wrapper">
      <div class="register__caption u-text--primary">
        <p>Nie masz jeszcze konta?</p>
        <p>Zarejestruj się!</p>
      </div>
    </div>
  </div>
</div>
