<div class="container">
  <div class="header">
    <div class="header__logo">
      <img class="logo" src="../../../../../assets/img/logo-ur.jpg" alt="Logo" />
    </div>
    <div class="header__text u-text--bold">Teams</div>
  </div>
  <div class="register__wrapper">
    <div class="register__header">Logowanie</div>
    <div class="register__form">
      <form class="form-group" (ngSubmit)="submitRegister()" [formGroup]="registerForm">
        <mat-form-field class="form-control">
          <input matInput placeholder="Imię" formControlName="first_name" type="text" class="form-control" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nazwisko" formControlName="last_name" type="text" class="form-control" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" type="email" class="form-control" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hasło" formControlName="password" type="password" class="form-control" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Powtórz hasło" formControlName="repeatPassword" type="password" class="form-control" />
        </mat-form-field>
        <div class="errors__wrapper u-text--red">
          <div *ngIf="firstName.invalid && firstName.dirty && firstName.touched">
            <div *ngIf="firstName.errors.required">
              Imię jest wymagane
            </div>
          </div>
          <div *ngIf="lastName.invalid && lastName.dirty && lastName.touched">
            <div *ngIf="lastName.errors.required">
              Nazwisko jest wymagane
            </div>
          </div>
          <div *ngIf="email.invalid && email.dirty && email.touched">
            <div *ngIf="email.errors.required">
              Email jest wymagany
            </div>
            <div *ngIf="email.errors.email">
              Wprowadź poprawny email
            </div>
          </div>
          <div *ngIf="password.invalid && password.dirty && password.touched">
            <div *ngIf="password.errors.required">
              Hasło jest wymagane
            </div>
            <div *ngIf="password.errors.minLength">
              Wymagana długość hasła to 8 znaków
            </div>
          </div>
          <div *ngIf="repeatPassword.invalid && repeatPassword.dirty && repeatPassword.touched">
            <div *ngIf="repeatPassword.errors.required">
              Powtórzenie hasła jest wymagane
            </div>
            <div *ngIf="repeatPassword.errors.notEqual">
              Hasła nie są identyczne!
            </div>
          </div>
        </div>
        <div class="button__wrapper">
          <button [disabled]="registerForm.invalid || registerForm.disabled" class="form__button" type="submit" mat-raised-button color="primary">
            <span *ngIf="(loading$ | async) === false; else spinner">Wyślij</span>
            <ng-template #spinner><mat-spinner [diameter]="40"></mat-spinner></ng-template>
          </button>
        </div>
      </form>
    </div>
    <div class="caption__wrapper">
      <div class="login__caption u-text--primary u-text--link" [routerLink]="[routes.login.path]">
        <p>Powrót</p>
      </div>
    </div>
  </div>
</div>
