<div class="container" mat-dialog-content>
  <div class="text__container">
    <h2 class="header">{{ data.header }}</h2>
    <p class="caption">{{ data.caption }}</p>
  </div>
  <div class="buttons__container">
    <button class="decline__button" mat-raised-button color="warn" (click)="onDecline()">Nie</button>

    <button class="accept__button" mat-raised-button color="primary" (click)="onAccept()" [disabled]="isProcessing">
      <span *ngIf="!isProcessing; else spinner">Tak</span>
      <ng-template #spinner>
        <span class="spinner__wrapper">
          <mat-spinner [diameter]="20" color="primary"></mat-spinner>
        </span>
      </ng-template>
    </button>
  </div>
</div>
