@import '../../../../../styles/variables';

.container {
  background-color: #fff;
  color: #000;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

.button__wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
