<div class="container" mat-dialog-content>
  <h1>{{ data.header }}</h1>
  <p>{{ data.caption }}</p>
  <div class="button__wrapper">
    <button class="accept__button" mat-raised-button color="primary" (click)="onAccept()" [disabled]="isProcessing">
      <span *ngIf="!isProcessing; else spinner">Tak</span
      ><ng-template #spinner><mat-spinner [diameter]="35" color="primary"></mat-spinner></ng-template>
    </button>
    <button mat-raised-button color="warn" (click)="onDecline()">Nie</button>
  </div>
</div>
