<ng-scrollbar [visibility]="'hover'">
  <div
    class="container"
    infiniteScroll
    [scrollWindow]="false"
    scrollViewport
    (scrolled)="handleMessagesScroll()"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
  >
    <app-posts-list
      [currentUser]="currentUser$ | async"
      (sendPostUpdate)="updatePost($event)"
      [posts]="posts"
      [postsLoading$]="postsLoading$"
      [postEditing$]="postEditing$"
      [postDeleting$]="postDeleting$"
      (sendPostDelete)="deletePost($event)"
      (routeToPost)="routeToPost($event)"
      [withGroup]="true"
      [withRoute]="true"
    ></app-posts-list>
  </div>
</ng-scrollbar>
