<div class="container" *ngIf="(groupLoading$ | async) === false; else spinner">
  <div class="group__header">
    <div class="image__wrapper">
      <img class="image" alt="Group image" [src]="group?.image" />
    </div>
    <div class="info__wrapper">
      <div class="info">
        <div class="name">{{ group?.name }}</div>
        <div class="owner">{{ group?.owner.first_name }} {{ group?.owner.last_name }}</div>
      </div>
      <div class="manage-button__wrapper" *ngIf="ownerOrAdmin">
        <button class="manage-button" mat-raised-button color="primary">Zarządzaj</button>
      </div>
    </div>
  </div>
  <div class="content__wrapper">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Dyskusja
        </ng-template>
        <div class="button__wrapper">
          <button *ngIf="(formVisibility$ | async) === false" mat-raised-button color="primary" (click)="showForm()">Dodaj post</button>
        </div>
        <app-post-form
          *ngIf="(formVisibility$ | async) === true"
          [postId]="null"
          [postProcessing$]="postAdding$"
          [startContent]="null"
          (submitPost)="addPost($event)"
          (hideForm)="hideForm()"
        ></app-post-form>
        <div class="posts">
          <app-posts-list
            [withRoute]="true"
            [withGroup]="false"
            [currentUser]="currentUser"
            [posts]="posts"
            [postDeleting$]="postDeleting$"
            [postEditing$]="postEditing$"
            (routeToPost)="routeToPost($event)"
            (sendPostUpdate)="updatePost($event)"
            (sendPostDelete)="deletePost($event)"
          ></app-posts-list>
        </div>
        <div class="error" *ngIf="posts?.length === 0 && (postsLoading$ | async) === false">
          Brak Postów
        </div>
      </mat-tab>
      <mat-tab [label]="'Członkowie(' + group?.members_count + ')'">
        <div class="members__wrapper">
          <div class="member" *ngFor="let member of members">
            <div class="member-image__wrapper">
              <img [src]="member.image" alt="Profile img" class="member-image" />
            </div>
            <div class="name__wrapper">
              <p>{{ member.first_name }} {{ member.last_name }}</p>
              <p *ngIf="group.moderator?.id === member.id">Moderator</p>
              <p *ngIf="group.owner?.id === member.id">Właściciel</p>
            </div>
            <div class="buttons__wrapper" *ngIf="ownerOrAdmin || group?.moderator.id === currentUser?.id">
              <span
                class="u-text--link option"
                *ngIf="group.owner.id !== member.id && group.moderator.id !== member.id && group.owner.id === currentUser?.id"
                (click)="showModDialog(member)"
                >Mod</span
              >
              <span class="u-text--link option" *ngIf="group.owner.id !== member.id">Usuń</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'Oczekujący(' + group.pending_count + ')'"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #spinner>
  <div class="spinner__wrapper"><mat-spinner [diameter]="75"></mat-spinner></div>
</ng-template>
