@import '../../../../../styles/variables';

.users-list__container {
  width: 100%;
  max-height: 100%;
  padding: 25px;

  .header__wrapper {
    padding: 10px 0;
  }

  .table__wrapper {
    width: 100%;
  }

  .users-table {
    width: 100%;

    .mat-header-cell {
      background-color: #e5e5e5;
      color: #000;
    }

    .mat-row {
      min-height: 65px;
    }

    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
