@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  margin: 0 auto;
  padding: 15px 25px;
  width: 100%;

  .spinner__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 10px 0;
  }

  @include break(map-get($breakpoints, lg)) {
    width: 90%;
  }
}

.create-group__component {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
