<ng-scrollbar [visibility]="'hover'" style="width: 100%;">
  <div
    class="scroll__wrapper"
    infiniteScroll
    [scrollWindow]="false"
    scrollViewport
    (scrolled)="handleMessagesScroll()"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
  >
    <div class="container">
      <ng-container *ngIf="groups.length === 0">
        <span>
          Brak grup! Spróbuj ich
          <span class="u-text--bold u-text--link" [routerLink]="[routes.search.path]" matTooltip="Przenieś na stronę wyszukiwania">
            wyszukać
          </span>
        </span>
      </ng-container>
      <div
        class="button__wrapper"
        *ngIf="(currentUser$ | async)?.role === userRoles.ADMIN || (currentUser$ | async)?.role === userRoles.LECTURER"
      >
        <button mat-raised-button color="primary" (click)="revealGroupCreationForm()">Stwórz grupę</button>
      </div>
      <app-group-wrapper
        *ngFor="let group of groups"
        [group]="group"
        [route]="routes.singleGroup.path + group.id + '/'"
      ></app-group-wrapper>
      <div class="spinner__wrapper" *ngIf="(groupsLoading$ | async) === true">
        <mat-spinner [diameter]="70"></mat-spinner>
      </div>
    </div>
  </div>
</ng-scrollbar>
<app-create-group class="create-group__component" *ngIf="(groupCreationFormVisible | async) === true" @appear></app-create-group>
