@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  margin: 0 auto;
  padding: 15px 25px;
  width: 100%;

  .spinner__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include break(map-get($breakpoints, lg)) {
    width: 90%;
  }
}
