@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  .posts__wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .error {
    font-size: 2rem;
  }

  @include break(map-get($breakpoints, lg)) {
    width: 100%;

    .posts__wrapper {
      width: 80%;
    }
  }
}
