<div class="container">
  <div class="posts__wrapper">
    <app-post-wrapper
      [post]="post"
      *ngFor="let post of posts"
      [isOwnerOrAdmin]="getDeletePerm(post)"
      [isOwner]="getEditPerm(post)"
      (sendUpdate)="updatePost($event)"
      [postEditing$]="postEditing$"
      [postDeleting$]="postDeleting$"
      (sendDelete)="sendPostDelete.emit($event)"
      [routeToPost]="routeToPost"
      [withRoute]="true"
    >
    </app-post-wrapper>
    <div class="error" *ngIf="posts?.length === 0 || posts === null">Brak postów w twoich grupach.</div>
    <div class="spinner__wrapper" *ngIf="postsLoading$ | async">
      <mat-spinner [diameter]="75"></mat-spinner>
    </div>
  </div>
</div>
