@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  min-height: calc(100vh - #{$nav-height});
  padding: 15px 25px;
  position: absolute;
  top: $nav-height;
  width: 100%;

  .posts__wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .error {
    font-size: 2rem;
  }

  @include break(map-get($breakpoints, lg)) {
    height: calc(100vh - #{$nav-height});
    left: 25vw;
    position: absolute;
    top: $nav-height;
    width: 50vw;

    .posts__wrapper {
      width: 80%;
    }
  }
}
