<div class="container" (click)="hideGroupCreationForm($event)">
  <div class="content" (click)="preventEventPropagation($event)">
    <div class="header__wrapper">
      <span class="header__inner">
        Stwórz grupę
      </span>
    </div>
    <div class="form__wrapper">
      <form class="form-group" [formGroup]="groupCreationForm" (ngSubmit)="handleFormSubmit()">
        <mat-form-field class="form-control__wrapper">
          <mat-label>
            Nazwa grupy
          </mat-label>
          <input placeholder="Nazwa" formControlName="groupName" type="text" matInput />
        </mat-form-field>
        <button class="form-control form-button" type="submit" mat-raised-button color="primary">Zapisz</button>
      </form>
    </div>
  </div>
</div>
