.container {
  margin: 0 auto;
  padding: 15px 25px;
  width: 90%;

  .spinner__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
    width: 100%;
  }

  .comments__wrapper {
    background-color: #fff;
    border-radius: 10px;
  }
}
