<div class="container">
  <app-post-wrapper
    *ngIf="(postLoading$ | async) === false; else spinner"
    [post]="post$ | async"
    [isOwner]="isOwner(post$ | async, currentUser)"
    [isOwnerOrAdmin]="isAdminOrIsOwner(post$ | async, currentUser)"
    [postEditing$]="postEditing$"
    [postDeleting$]="postDeleting$"
    (sendUpdate)="updatePost($event)"
    (sendDelete)="deletePost($event)"
    [withRoute]="false"
  >
  </app-post-wrapper>
  <div class="form__wrapper" *ngIf="formVisible; else button">
    <form class="add-form-group" [formGroup]="addForm" (ngSubmit)="submitAdd()">
      <mat-form-field class="text-area__wrapper">
        <textarea class="text-area" matInput formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
      <div class="button__wrapper">
        <button mat-raised-button color="primary" type="button" (click)="cancel()">Anuluj</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid || addForm.disabled">
          <span *ngIf="(commentAdding$ | async) === false; else spinner">Dodaj</span>
          <ng-template #spinner><mat-spinner [diameter]="30"></mat-spinner></ng-template>
        </button>
      </div>
    </form>
  </div>
  <div class="caption">Komentarze</div>
  <ng-template #button>
    <div class="opening-button__wrapper">
      <button class="opening-button" mat-button color="primary" (click)="showForm($event)">Dodaj</button>
    </div>
  </ng-template>
  <div class="comments__container">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [currentUser]="currentUser"
      [isOwnerOrAdmin]="isAdminOrIsOwner(comment, currentUser)"
      [isOwner]="isOwner(comment, currentUser)"
      [postId]="postId"
    ></app-comment>
    <div *ngIf="(commentsLoading$ | async) === false; else spinner" class="placeholder"></div>
  </div>
  <div class="error" *ngIf="comments?.length === 0">
    Brak komentarzy
  </div>
  <ng-template #spinner
    ><div class="spinner__wrapper"><mat-spinner [diameter]="50"></mat-spinner></div
  ></ng-template>
</div>
