<div class="container">
  <app-post-wrapper
    *ngIf="(postLoading$ | async) === false; else spinner"
    [post]="post$ | async"
    [isOwner]="isOwner(post$ | async, currentUser)"
    [isOwnerOrAdmin]="isAdminOrIsOwner(post$ | async, currentUser)"
    [postEditing$]="postEditing$"
    [postDeleting$]="postDeleting$"
    (sendUpdate)="updatePost($event)"
    (sendDelete)="deletePost($event)"
    [withRoute]="false"
  >
  </app-post-wrapper>
  <div class="comments__wrapper" *ngIf="(commentsLoading$ | async) === false; else spinner">
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [currentUser]="currentUser"
      [isOwnerOrAdmin]="isAdminOrIsOwner(comment, currentUser)"
      [isOwner]="isOwner(comment, currentUser)"
      [postId]="postId"
    ></app-comment>
  </div>
  <ng-template #spinner
    ><div class="spinner__wrapper"><mat-spinner [diameter]="50"></mat-spinner></div
  ></ng-template>
</div>
