<div class="container" *ngIf="(profileLoading$ | async) === false; else spinner">
  <div class="photo__wrapper">
    <img class="photo" [src]="profile.image" />
  </div>
  <div class="full-name__wrapper">
    <span class="full-name">{{ profile.first_name }} {{ profile.last_name }}</span>
    <button (click)="editToggle()" *ngIf="isCurrentUser" mat-icon-button class="edit-icon__wrapper">
      <img class="edit-icon" src="../../../../../assets/img/edit.svg" />
    </button>
  </div>
  <div class="message__wrapper" *ngIf="!isCurrentUser">
    <img src="../../../../../assets/img/msg.png" class="message-icon" />
  </div>
  <div class="data__wrapper" *ngIf="!editing">
    <div class="prop">
      <span class="prop__label">Imię: </span>
      <span class="prop__value">{{ profile.first_name }}</span>
    </div>
    <div class="prop">
      <span class="prop__label">Nazwisko: </span>
      <span class="prop__value">{{ profile.last_name }}</span>
    </div>
    <div class="prop">
      <span class="prop__label">Email: </span> <span class="prop__value">{{ profile.email }}</span>
    </div>
  </div>
  <div class="data__wrapper form__wrapper" *ngIf="editing && isCurrentUser">
    <form [formGroup]="editForm" (ngSubmit)="submitUpdate()">
      <div class="form__header u-text--bold">Edit credentials</div>
      <div class="prop">
        <mat-form-field>
          <input formControlName="firstName" matInput type="text" placeholder="Imię" />
        </mat-form-field>
      </div>
      <div class="prop">
        <mat-form-field>
          <input formControlName="lastName" matInput type="text" placeholder="Nazwisko" [value]="profile.last_name" />
        </mat-form-field>
      </div>
      <div class="prop">
        <mat-form-field>
          <input formControlName="email" matInput type="email" placeholder="Email" [value]="profile.email" />
        </mat-form-field>
      </div>
      <div class="prop">
        <button mat-raised-button type="submit" color="primary">Zapisz</button>
      </div>
    </form>
    <form [formGroup]="editPasswordForm">
      <div class="form__header u-text--bold">Change password</div>
      <div class="prop">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
      </div>
      <div class="prop">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary">Zapisz</button>
    </form>
  </div>
</div>
<ng-template #spinner>
  <div class="spinner__wrapper">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
