@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  min-height: calc(100vh - #{$nav-height});
  width: 100%;

  .photo__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: flex-end;
    width: 100%;

    .photo {
      border-radius: 50%;
      height: 140px;
      width: 140px;
    }
  }

  .full-name__wrapper {
    align-items: center;
    display: flex;
    font-size: 4.5rem;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    width: 100%;

    .edit-icon__wrapper {
      margin-left: 10px;
    }

    .edit-icon {
      width: unset;
      height: unset;
      font-size: 35px;
    }
  }

  .message__wrapper {
    padding-top: 20px;
    text-align: center;

    .message__button {
      height: 60px;
      width: 60px;
    }
  }

  .data__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-around;
    margin: 0 auto;
    min-height: 200px;
    width: 90%;

    .prop__label {
      color: $primary;
    }
  }

  .form__wrapper {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;

    .form__header {
      padding: 10px 0;
    }
  }

  @include break(map-get($breakpoints, md)) {
    .form__wrapper {
      flex-direction: row;
    }
  }
}

.spinner__wrapper {
  align-content: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.app-new-message {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
