<div class="container">
  <div class="search__wrapper">
    <div class="search__header">Wyszukiwarka</div>
    <form (ngSubmit)="navigateToSearch()" [formGroup]="searchForm" class="form-group">
      <mat-form-field class="form-control">
        <input placeholder="Szukaj..." type="search" formControlName="phrase" matInput />
      </mat-form-field>
      <button matTooltip="Wyszukaj grupę" mat-mini-fab type="submit" class="form-button" color="primary">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </form>
  </div>
  <div class="groups__wrapper" *ngIf="(groupsLoading$ | async) === false; else spinner">
    <div class="groups__header">Grupy</div>
    <div
      class="group u-text--link"
      [routerLink]="[routes.singleGroup.path + group.id]"
      (mouseenter)="hover($event)"
      (mouseleave)="unHover($event)"
      *ngFor="let group of groups$ | async; index as i"
    >
      <div class="group-image__wrapper">
        <img class="group-image" alt="image" [src]="group.image" />
      </div>
      <div class="group__name" [title]="group.name">
        <span>{{ group.name.length >= 20 ? (group.name | slice: 0:17) + '...' : group.name }}</span>
      </div>
    </div>
    <button
      class="groups__caption"
      mat-button
      [routerLink]="[routes.privateGroups.path]"
      *ngIf="(groups$ | async) && (groups$ | async).length === 5"
    >
      Zobacz więcej...
    </button>
    <div class="groups__caption u-text--link" *ngIf="(groups$ | async)?.length === 0">Brak grup.</div>
  </div>
  <ng-template #spinner>
    <div class="spinner__wrapper">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>
</div>
