@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  display: none;

  @include break(map-get($breakpoints, lg)) {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$nav-height});
    justify-content: center;
    left: 0;
    position: fixed;
    top: $nav-height;
    width: 25vw;
  }
}
