<div class="container">
  <div class="groups__wrapper" *ngIf="(groupsLoading$ | async) === false; else spinner">
    <div class="groups__header">Grupy</div>
    <div class="group" *ngFor="let group of groups$ | async">
      <div class="group-image__wrapper">
        <img class="group-image" alt="image" [src]="group.image">
      </div>
      <div class="group__name"><span>{{ group.name.length >= 35 ? (group.name | slice:0:35) + '...' : group.name}}</span></div>
    </div>
    <div class="groups__caption u-text--link" *ngIf="(groups$ | async) && (groups$ | async).length > 0; else error">Zobacz więcej...</div>
    <ng-template #error>
      <div class="groups__caption u-text--link">Brak grup...</div>
    </ng-template>
  </div>
  <ng-template #spinner>
    <div class="spinner__wrapper">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>
</div>
