@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

$image-size: 48px;

.container {
  display: none;

  @include break(map-get($breakpoints, lg)) {
    align-items: center;
    display: flex;
    height: calc(100vh - #{$nav-height});
    justify-content: center;
    left: 0;
    position: fixed;
    top: $nav-height;
    width: 25vw;

    .groups__wrapper {
      grid-area: groups;
      height: 50%;
      margin: 0 0 0 auto;
      user-select: none;
      width: 90%;
    }

    .groups__header {
      border-bottom: 2px solid $primary;
      font-size: 2rem;
      margin-bottom: 5px;
    }

    .group {
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      height: 56px;
      justify-content: center;
      margin: 5px auto 5px 0;
      transition: background-color 0.5s ease;
      width: 95%;

      &:hover {
        background-color: $primary;
        cursor: pointer;
      }

      &:active {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
      }

      .group-image__wrapper {
        border: 1px solid $grey;
        border-radius: 50%;
        height: $image-size;
        width: $image-size;
      }

      .group-image {
        border-radius: 50%;
        height: $image-size;
        width: $image-size;
      }

      .group__name {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: calc(100% - #{$image-size} - 5px);
      }
    }

    .groups__caption {
      padding-top: 5px;
    }
  }

  @include break(map-get($breakpoints, xl)) {
    .groups__wrapper {
      width: 80%;
    }
  }
}
