<div class="container">
  <perfect-scrollbar class="message__list--scroll" (psYReachStart)="handleMessagesScroll()">
    <div class="message__list">
      <div class="spinner__wrapper" *ngIf="messagesLoading">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
      <div
        class="message"
        [ngClass]="{
          'message--owner': currentUser.id === message.sender.id
        }"
        *ngFor="let message of messages"
      >
        <div class="image__wrapper" [matTooltip]="message.dateSend | date: 'dd-MM-yyyy HH:mm'">
          <img [src]="message.sender.image" alt="photo" class="user-image" />
        </div>
        <div class="content__wrapper" [matTooltip]="message.dateSend | date: 'dd-MM-yyyy HH:mm'">{{ message.content }}</div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="message__form">
    <form [formGroup]="messageSubmitForm" (ngSubmit)="handleMessageSubmit()">
      <mat-form-field>
        <input matInput type="text" formControlName="content" />
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="messageSubmitForm.invalid">Wyślij</button>
    </form>
  </div>
</div>
