<div class="container">
  <div class="post__header">
    <div class="image__wrapper"><img class="image" alt="profile image" [src]="post.owner.image" /></div>
    <div class="text__wrapper">
      <div class="credentials">
        <div class="name">{{ post.owner.first_name }} {{ post.owner.last_name }}</div>
        <img src="../../../../../assets/img/next.svg" alt="" class="arrow" />
        <div class="group">{{ post.group.name }}</div>
      </div>
      <div class="date">{{ post.date_posted | date: 'medium':'+1':'pl-PL' }}</div>
    </div>
    <div class="options__wrapper">
      <button class="options__button" mat-icon-button>
        <img class="options__img" alt="options" src="../../../../../assets/img/options.svg" />
      </button>
    </div>
  </div>
  <div class="post__content">
    <div class="post__text">{{ post.content }}</div>
    <div class="post__file">
      <p>Załącznik: </p>
      <a class="u-text--link" [href]="post.file" target="_blank">{{post.file.split('/').reverse()[0]}}</a>
    </div>
    <div class="post__image" *ngIf="post.image"><img class="image" alt="post image" [src]="post.image" /></div>
  </div>
</div>
