<div class="container">
  <div class="post__header">
    <div class="image__wrapper"><img class="image" alt="profile image" [src]="post.owner.image" /></div>
    <div class="text__wrapper">
      <div class="credentials">
        <div class="name">
          <span class="u-text--link profile-link" [routerLink]="[routes.profile.path + post.owner.id + '/']">
            {{ post.owner.firstName }} {{ post.owner.lastName }}
          </span>
        </div>
        <img src="../../../../../assets/img/next.svg" alt="" class="arrow" *ngIf="withGroup" />
        <div class="group u-text--link" *ngIf="withGroup" [routerLink]="[routes.singleGroup.path + post.group.id + '/']">
          {{ post.group.name }}
        </div>
      </div>
      <div class="date" *ngIf="withRoute">
        <div [className]="withRoute ? 'date-route' : ''">
          <span (click)="routeToPost?.emit({ id: post.id })">{{ post.datePosted | date: 'medium':'+1':'pl-PL' }}</span>
        </div>
      </div>
      <div class="date" *ngIf="!withRoute">
        <div>
          {{ post.datePosted | date: 'medium':'+1':'pl-PL' }}
        </div>
      </div>
    </div>
    <div class="options__wrapper" *ngIf="isOwnerOrAdmin">
      <button class="options__button" mat-icon-button (click)="dropdownToggle($event)">
        <img class="options__img" alt="options" src="../../../../../assets/img/options.svg" />
      </button>
    </div>
  </div>
  <div class="post__content" *ngIf="!formVisibility; else form">
    <div class="post__text">{{ post.content }}</div>
    <div class="post__file" *ngIf="post.file">
      <p>Załącznik:</p>
      <a class="u-text--link" [href]="post.file" target="_blank">{{ (post.file?.toString().split('/').reverse())[0] }}</a>
    </div>
    <div class="post__image" *ngIf="post.image"><img class="image" alt="post image" [src]="post.image" /></div>
  </div>
  <ng-template #form>
    <app-post-form
      [postProcessing$]="postEditing$"
      [postId]="post.id"
      (hideForm)="hideForm()"
      (submitPost)="updatePost($event)"
      [startContent]="post.content"
    ></app-post-form>
  </ng-template>
  <div class="dropdown" *ngIf="dropdownVisible">
    <div *ngIf="isOwner" class="option" (mouseenter)="hoverOption($event)" (mouseleave)="unHoverOption($event)" (click)="editButton()">
      Edytuj
    </div>
    <div class="option" (mouseenter)="hoverOption($event)" (mouseleave)="unHoverOption($event)" (click)="deleteButton()">
      Usuń
    </div>
  </div>
</div>
