<div class="container">
  <div class="header">
    <div class="header__logo">
      <img class="logo" src="../../../../../assets/img/logo-ur.jpg" alt="Logo" />
    </div>
    <div class="header__text u-text--bold">Teams</div>
  </div>
  <div class="login__wrapper">
    <div class="login__header">Logowanie</div>
    <div class="login__form">
      <form class="form-group" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <mat-form-field class="form-control">
          <input matInput placeholder="Email" type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="form-control">
          <input matInput placeholder="Hasło" type="password" formControlName="password" />
        </mat-form-field>
        <div *ngIf="email.dirty && email.touched && email.invalid" class="u-text--red errors">
          <div *ngIf="email.errors.email">
            Wprowadź poprawny adres e-mail
          </div>
          <div *ngIf="email.errors.required">
            Adres email jest wymagany!
          </div>
        </div>
        <div *ngIf="password.touched && password.invalid" class="u-text--red errors">
          <div *ngIf="password.errors.required">
            Hasło jest wymagane
          </div>
        </div>
        <div class="button__wrapper">
          <button type="submit" class="form__button" mat-raised-button [disabled]="!ableToSend" color="primary">
            <span *ngIf="(loading$ | async) === false; else spinner">Zaloguj</span>
            <ng-template #spinner><mat-spinner [diameter]="40"></mat-spinner></ng-template>
          </button>
        </div>
      </form>
    </div>
    <div class="caption__wrapper">
      <div class="register__caption u-text--primary u-text--link" [routerLink]="[routes.register.path]">
        <p>Nie masz jeszcze konta?</p>
        <p>Zarejestruj się!</p>
      </div>
    </div>
  </div>
</div>
