@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.container {
  display: none;

  @include break(map-get($breakpoints, lg)) {
    bottom: 0;
    display: block;
    position: fixed;
    right: 0;
    top: $nav-height;
    width: 25vw;

    .friends__wrapper {
      width: 100%;
    }

    .friends__header {
      border-bottom: 2px solid $primary;
      font-size: 2rem;
      margin-left: 10px;
      margin-right: auto;
      padding-top: 15px;
      width: 90%;
    }

    .friend__wrapper {
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      height: 45px;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: auto;
      padding: 5px;
      transition: background-color 0.5s ease;
      width: 90%;
    }

    .error__wrapper {
      font-size: 1.8rem;
      padding-top: 10px;
      margin-left: 10px;
    }

    .friend__image {
      height: 40px;
      margin-right: 10px;
      width: 40px;
    }

    .image {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }

  .spinner__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
